/* Dark Green #02372C */
/* Red #A51C2C */
/* Menu Off White #FFFDE6 */
*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
/* HEADER STYLES */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    background-color: #A51C2C;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
header > a {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    color: #f8f8f8;
    font-weight: 600;
}
header>p{
    width: 200px;
    color: #f8f8f8;
}
/* BODY */
body{
    background-color: #F8F8F8;
}
/* MAIN */
main>h1{
    color: #f8f8f8;
    background-color: #02372C;
    Padding-block: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* NAV */
nav{
    display: flex;
    align-items: center;
}
nav>menu{
 display: flex;
 width: 100%;
}
nav>menu>li{
    margin-inline: 1.2em;
    list-style: none;
}
nav>menu>li>a{
    font-size: 22px;
    font-weight: 600;
    font-size: larger;
    color: #f8f8f8;
    padding-inline: 1.2rem;
    text-decoration: none;
}
/* CHECKBOXES */
input[type=checkbox] {
    margin-inline: .5em;
}
/* FOOTER */
footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 125px;
    background-color: #A51C2C;
}
footer>p{
    font-size: 10px;
    color: #f8f8f8;
}
/* CLASSES */
.logo-container{
    height: 100%;
    padding: 0;
    margin: 0;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 50%;
    background-color: #FFFDE6;
    border-radius: 5px 5px 0px 0px;
    border: 5px solid #02372C
}
.order-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

}
.form-head{
    padding-bottom: 1rem;
}
.logo{
    height: 100%;
}
.pizza-settings{
    display: flex;
    justify-content: space-around;
    border-left: 5px solid #02372C;
    border-right: 5px solid #02372C;
    border-bottom: 5px solid #02372C;
    width: 50%;
    padding: 1rem;
    background-color: #FFFDE6;
}
.pizza-size>h4{
    text-align: center;
}
.pizza-toppings{
    display: flex;
    width: 50%;
    padding: 1rem;
    background-color: #FFFDE6;
    border-left: 5px solid #02372C;
    border-right: 5px solid #02372C
}
.topping-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meat{
    text-align: center;
    background-color: #f8f8f8;
    width: 50%;
}
.vegetables{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f8f8f8;
    width: 50%;
}
.vegetables>div,
.meat>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* CUSTOM LABELS */
.contact-label{
    width: 120px;
}
.size-label{
    width: 70px;
}
.crust-label{
    width:100px;
}
/* label */
label{
    display: inline-block;
}
/* HOVER */
nav>menu>li>a:hover{
    color: #FFFDE6;
}