h1,h3{
    text-align: center;
}
h1{
    font-size: 28px;
}
h3{
    font-size: 22px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* Set font size to 20px as per industry standard */
input, label, option, select, textarea {
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}
/* Header Styling */
header{
    display: flex;
    background-color: #042c12;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
header > div {
    width: 125px;
    height: auto;
}
header > div> a > img{
    max-width: 100%;
    height: auto;
}
header> nav > menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header> nav > menu > li{
    padding-inline: 20px;
}
header > nav > menu > li > a{
    white-space: nowrap;
    text-decoration: none;
    color: #f8f8f8;
    font-size: 24px;
    font-weight: 600;
}
header > nav > menu > li > a:hover{
    color: #FFD700;
}
/* Form Styling */
body > main> section> form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body > main> section> form>div{
    display: flex;
    justify-content: center;
    width: 100%;
}
body > main> section> form>div+div>{
    display: flex;
    justify-content: center;
    align-items: center;
}
body > main> section> form > div> fieldset{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:45%;
    max-width: 300px;
    border-radius: 15px;
    margin: 0.5rem;
    border: 2px solid #042c12;
    
}
/* Font set to 16px to prevent zoom on mobile for required fields when submitting */
body > main> section> form > div> fieldset > input{
    width: 125px;
    min-width: 125px;
}
body > main> section> form>div+div>fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 300px;
}
body > main> section> form>div+div>fieldset>div{
    display: flex;
}
body > main> section> form > div> fieldset + fieldset > select{
    width: 125px;
    min-width: 125px;
}
body > main> section> form > textarea{
    padding: 0.5rem;
    margin-bottom: 1rem;
    height: 100px;
    width: 90%;
    max-width: 665px;
    resize: none;
    outline: none;
    border: 2px solid #042c12;
    border-radius:15px;
}
.submit-button{
    width: 95%;
    max-width: 675px;
    padding: 0.5rem;
    font-size: 20px;
    margin-bottom: 1rem;
    color: #f8f8f8;
    background-color: #042c12;
    border-radius: 15px;
    cursor: pointer;
}
/* Footer Styling */
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #042c12;
    height: 125px;
}
footer > p {
    color: #f8f8f8;
    font-size: 12px;
}